{% extends "AppBundle::layout.html.twig" %}
{% block body%}
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-4">
				<a href="{{path("app_ringtone_index")}}" class="btn  btn-lg btn-warning col-md-12"><i class="material-icons" style="font-size: 30px;">refresh</i> Refresh</a>
			</div>
			<div class="col-md-4">
				<a class="btn btn btn-lg btn-yellow col-md-12"><i class="material-icons" style="font-size: 30px;">queue_music</i> {{ringtones_count}} Ringtones</a>
			</div>
			<div class="col-md-4">
				<a href="{{path("app_ringtone_add")}}" class="btn btn-rose btn-lg pull-right add-button col-md-12" title=""><i class="material-icons" style="font-size: 30px;">add_box</i> NEW RINGTONE </a>
			</div>
		</div>
		<div class="row">
			{% set i = 1 %}
			{% for ringtone in ringtones %}
				<div class="col-md-6" >
					<div class="card " style="margin-bottom:  5px;margin-top: 5px; background: black;">
						<div style="height: 101px;width: 101px;border-radius: 0px;margin-right:  10px;float: left;    background: white;">
							<i class="material-icons player-control" onclick="play(this)" rel="{{ app.request.getSchemeAndHttpHost()}}/{{ringtone.media.link}}" style="color:black;font-size: 101px;" >play_circle_outline</i>
						</div>
						<div style="height: 80px;margin-left: 80px;border-radius: 100px;margin:  10px;color:white">
							<b style="display: block;font-size: 18px;padding-top: 11px;">{{ringtone.title}} </b>
							<p>
								{% if ringtone.duration > 60 %}
									{{(ringtone.duration)//(60)}}:{{(ringtone.duration)-((ringtone.duration)//(60)*60)}}
								{% elseif ringtone.duration == 0 %}
									--:--
								{% else %}
									{{ringtone.duration}}s
								{% endif %}
							</p>
						</div>
						<div class="card-footer" style="text-align:center">
							<a href="{{path("app_home_notif_ringtone",{id:ringtone.id,title:ringtone.title,description:ringtone.description})}}" rel="tooltip" data-placement="bottom" class=" btn btn-warning btn-xs btn-round" data-original-title="Notification">
								<i class="material-icons">notifications</i>
							</a>
							<a href="{{path("app_ringtone_view",{id:ringtone.id})}}" rel="tooltip" data-placement="bottom" class=" btn btn-info btn-xs btn-round" data-original-title="View">
								<i class="material-icons">remove_red_eye</i>
							</a>
							<a href="{{path("app_ringtone_edit",{id:ringtone.id})}}" rel="tooltip" data-placement="bottom" class=" btn btn-primary btn-xs btn-round" data-original-title="Edit">
								<i class="material-icons">edit</i>
							</a>
							<a href="{{path("app_ringtone_delete",{id:ringtone.id})}}" rel="tooltip" data-placement="bottom" class=" btn btn-danger btn-xs btn-round" data-original-title="Delete">
								<i class="material-icons">delete</i>
							</a>
						</div>
					</div>
				</div>
				{% set i = i+1 %}
				{% if i >6 %}
					{% set i = 1 %}
				{% endif %}
			{% else %}
				<div class="card"  style="text-align: center;" >
					<br>
					<br>
					<img src="{{asset("img/bg_empty.png")}}"  style="width: auto !important;" ="">
					<br>
					<br>
				</div>
			{% endfor %}
			
		</div>
		<div class=" pull-right">
			{{ knp_pagination_render(ringtones) }}
		</div>
	</div>
{% endblock%}